#canvas {
    display: grid;
    grid-gap: 0px; /* Remove spacing */
    margin: 20px auto;
    background-color: transparent;
    width: fit-content;
}

#canvas div {
    width: 16px; /* Adjust for a perfect fit */
    height: 16px;
    background-color: transparent;
    cursor: pointer;
    border: none; /* Removes border effect */
}
